/* CSS RESET */
@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Styles */
.content-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.content-container > *{
  padding: 32px;
}

.sidebar-container {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.project-container {
  background-color: green;
  display: grid;
  grid-template-rows: 100px 3fr 100px;
}
  
.add-task-sidebar {
  display: flex;
}

.svg-add-symbol {
  width: 30px;
  height: 30px;
  fill: aliceblue;
}

.projects-sidebar-container {
  
}

.projects-list-div {

}

.project-name {

}

.project-header {
  font-size: 2.5rem;
}

.tasks-container {

}

.div-todo-item {

  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.todo-item {
  font-size: 1.25rem;
}

.delete-button {
  
}

.svg-bullet-symbol {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  fill: aliceblue;
}
