/* CSS RESET */
@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Styles */
.content-container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2.75fr;
}

.content-container > *{
  padding: 32px;
}

.sidebar-container {
  background-color: #3A6EA5;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.project-container {
  background-color: #004E98;
  display: grid;
  grid-template-rows: 100px 3fr 100px;
}

.button-add-project {
  border: none;
  width: 130px;
  height: 35px;
  border-radius: 8px;
  color: #FF6700;
  background-color: white;
  margin-top: 80px;
  font-weight: bold;
  font-size: 1.2rem;
}

.button-add-project:hover {
  cursor: pointer;
}
  
.add-task-sidebar {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.add-task-sidebar:hover {
  cursor: pointer;
}

.svg-add-symbol {
  width: 30px;
  height: 30px;
  fill: white;
}

.projects-sidebar-container {
  
}

.projects-list-div {
  color: #EBEBEB;
  margin: 8px 0px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.project-name {
  font-size: 1.5rem;
}

.project-name:hover {
  cursor: pointer;
}

.project-header {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.tasks-container {

}

.div-todo-item {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 16px;
}

.todo-item {
  font-size: 1.25rem;
  padding: 0px 8px;
  color: #EBEBEB;
}

.todo-item:hover {
  cursor: pointer;
}

.delete-button {
  width: 180px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #FF6700;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.delete-button:hover {
  cursor: pointer;
}

.svg-bullet-symbol {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  fill: white;
}
